#instructions.label-box
  %p 
    All over the world, there are people who spin yarn, and many of them are on this map.  Colored areas of the map show where there are spinners.  Clicking on areas of the map will list them.  If you wish to add yourself to the map, 
    %a{'href' => '#loginModal', 'data-toggle' => 'modal'} log in
    and select your location from the box below the map, then click "Save".
  %p 
    Currently, only the United States and Canada are supported.  Other countries will be added in the near future.  Extensive work is currently being done to improve the map as a result of user feedback.  Thanks to everyone who has pointed out issues, and continued thanks for your patience as we improve the map!
  %p 
    This site is in the beta testing and some things are incomplete.  If you experience any problems, contact 
    %a{href: 'http://www.ravelry.com/people/BobbyTables'} BobbyTables
    on Ravelry.