#instructions.label-box
  %p 
    Colored areas of the map show where there are spinners.  Hovering over these areas will list their Ravelry names.  If you 
    %a{'href' => '#loginModal', 'data-toggle' => 'modal'} log in 
    , you can add your location by selecting it from the box below the map and clicking "Save".
  %p 
    Currently, only the United States and most of Canada are supported.  Other countries will be added in the near future.  Extensive work is currently being done to improve the map as a result of user feedback.  Thanks to everyone who has pointed out issues, and continued thanks for your patience as we improve the map!
  %p 
    This site is in the beta testing and some things are incomplete.  If you experience any problems, contact 
    %a{href: 'http://www.ravelry.com/people/BobbyTables'} BobbyTables
    on Ravelry.