#app
  #map

  - if current_user
    #location
      =form_tag '#', :class => 'form-inline', :id => 'location-form' do
        =select_tag 'country', options_from_collection_for_select(Location.supported_countries.order(:name), :id, :name, :selected => current_user.location ? current_user.location.country.id : nil), :include_blank => true
        =select_tag 'state', ''
        =select_tag 'county', ''
        =select_tag 'city', ''