#app
  #map

  - if current_user
    #location
      =form_tag '#', :class => 'form-inline' do
        =select_tag 'country', options_from_collection_for_select(Location.supported_countries.order(:name), :id, :name)
        =select_tag 'state', ''
        =select_tag 'county', ''
        =select_tag 'city', ''