.row
  .span10.offset1
    %h2 Terms of Service
    %ol
      %li You will not use this site to harass, defame, or otherwise injure anyone.
      %li All data provided to the site is provided at your own risk.
      %li Don't sue us if anything bad happens as a result of your use of this site.
      %li Do not use this site to violate the Terms of Service of any site you log in to this site through.
      %li If you do not agree to these terms, do not use this site.

    %h2 Privacy Policy
    %h3 What data we collect
    %p
      When you log in through Ravelry, Google, or Facebook, they send basic details about your account, all of which are publicly available to users of those sites.  The data we collect is limited to: 
      %ul
        %li Username
        %li Email Address, if provided
        %li Site-specific contact information, if applicable
        %li Link to your profile page on that site
    %p After logging into Who Spins, you may provide your location to allow other users to find you.  You do not need to provide all of the information requested, but the site will be more effective if you do.
    %h3 How we use your data
    %p We display your location on the map, and we provide links to your user profiles on all linked accounts.  We will not collect or share any information from those accounts other than that listed above.  We will not update your profiles or post any content to linked accounts, even if granted permission to do so.