.row
  .span9
    %ul
      %li 
        Developed by
        %a{href: 'http://github.com/adamtrilling'} Adam Trilling
        (
        %a{href: 'http://www.ravelry.com/people/BobbyTables'} BobbyTables
        on Ravelry)
      %li 
        Logo by 
        %a{href: 'http://lizardtoesart.com'} Kellie Tatem
        (
        %a{href: 'http://www.ravelry.com/people/OneDizzyParrot'} OneDizzyParrot
        on Ravelry)
      %li 
        Idea by Sarah Townsend
        (
        %a{href: 'http://www.ravelry.com/people/breyerchic04'} breyerchic04
        on Ravelry)
      %li=link_to "Terms of Service/Privacy Policy", page_path(:page => 'tos')
