#instructions.label-box
  Colored areas of the map show where there are spinners.  Hovering over these areas will list their Ravelry names.  If you 
  = link_to 'Log in through Ravelry', signin_path
  , you can add your location by selecting it from the box below the map and clicking "Save".