#instructions.label-box
  %p 
    Colored areas of the map show where there are spinners.  Hovering over these areas will list their Ravelry names.  If you 
    = link_to 'Log in through Ravelry', signin_path
    , you can add your location by selecting it from the box below the map and clicking "Save".
  %p 
    If you live in a small town, it might not appear on the list, so select the nearest town that does appear.  At this time, cities are only in one county, so if you live in a city that is in multiple counties, that will only appear on the list for one county.
  %p 
    This site is in the early stages of beta testing and some things are incomplete (for example, cities in Canada).  If you experience any problems, contact 
    %a{href: 'http://www.ravelry.com/people/BobbyTables'} BobbyTables
    on Ravelry.